.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 24px);
  padding: 5px;
  background-color: #c0c0c0;
  border: 3px solid;
  border-color: #808080 #fff #fff #808080;
}

.cell {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
}

.bomb {
  width: 15px;
  height: 15px;
  line-height: 56px;
  color: #fff;
  text-align: center;
  background-color: white;
  border-radius: 50%;
}

.sampleCell {
  width: 28px;
  height: 28px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 1px solid #000;
}
